:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body{
  height: 100%;
  margin: 0; 
  padding: 0;
}
body {
  background-color: #b22222;  /* FireBrick Red base */
  background-image: linear-gradient(to bottom right, #b22222, #ffcc70); /* Reddish gold gradient */
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
